.hamburgerMenuContainer {
  position: fixed;
  margin-top: 30px;
  right: 3.5vw;
  z-index: 1000;
}

.menuButton {
  font-size: 24px;
  color: #1a73e8;
  border: none;
  transition: color 0.3s ease;
}

.menuButton:hover {
  background-image: linear-gradient(90deg, #1a73e8, #34a853);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
